$font_color_primary: #000000;
$font_color_faded: #666666;

$border_primary: 0.02in solid #000;
$border_accent: 0.01in solid #666;

$bg_primary: #FFFFFF;
$bg_inactive: #222222;
$bg_active: rgba(255, 255, 255, 0.9);

$font_color_dark_primary: #FFFFFF;
$bg_dark_primary: #161011;

$blackout_red: #f44336; /* red500 https://material-ui.com/customization/color/ */
$interactive_blue: #1e88e5; /* blue 600 */