// Minify - http://meyerweb.com/eric/tools/css/reset/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

// ===============================================
// Font setup
// ===============================================

@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Cinzel-Bold'), url(fonts/MontserratAlternates-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Lato-Regular.ttf) format('truetype');
}

// ===============================================
// Transitional animation classes
// ===============================================

.NEXT-enter {
  transform: translate(100%);
}
.NEXT-enter.NEXT-enter-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}
.NEXT-leave {
  position:absolute;
  transform: translate(0%);
}
.NEXT-leave.NEXT-leave-active {
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}

.PREV-enter {
  transform: translate(-100%);
}
.PREV-enter.PREV-enter-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}
.PREV-leave {
  position:absolute;
  transform: translate(0%);
}
.PREV-leave.PREV-leave-active {
  transform: translate(100%);
  transition: transform 300ms ease-in-out;
}

// ===============================================
// Constants
// ===============================================

$sizemap: (
  appbar: 48px,
  footer: 56px,
  inputsquare: 48px,
  inputspacing: 16px, /* slightly larger on small devices (to prevent false touches) */
  input: 32px, /* size of input icon-style buttons */
  watermark: 36vh, /* height-specific */
  huge: 12vmin,
  large: 6vmin,
  icon: 4.5vmin,
  base: 2vmin,
  small: 1vmin,
  tiny: 0.5vmin,
);

$fontsizemap: (
  timervalue: 24vmin,
  title: 6vmin,
  interactive: 5.5vmin,
  flavor: 4.7vmin,
  label: 18px, // purposefully fixed-size
);

@function fontsize($key) {
  @if map-has-key($fontsizemap, $key) {
    @return map-get($fontsizemap, $key);
  }

  @warn "Unknown `#{$key}` in $fontsizemap.";
  @return null;
}

@function size($key) {
  @if map-has-key($sizemap, $key) {
    @return map-get($sizemap, $key);
  }

  @warn "Unknown `#{$key}` in $sizemap.";
  @return null;
}

$font_family_header: Monserrat, sans-serif;
$font_family_body: Lato, sans-serif;
$line_height: 1.2em;

$color_blue: #0D47A1; /* blue 900 */
$color_blue_light: #29B6F6; /* light blue 400 */
$color_grey: #263238; /* blue grey 900 */
$color_grey_light: #78909C; /* blue grey 400 */

$border_radius: 2px;

// ===============================================
// Global Styles
// ===============================================

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font_family_body;
  user-select: none;
}

#noscript {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.snackbar {
  span {
    color: blue !important;
  }
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

// ===============================================
// Basic screen + element styles - mobile first
// ===============================================

.container {

}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;

  > div { /* the actual screen */
    width: 100%;
    height: 100%;
    position: relative;
  }
}

section.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

section.hasFooter {
  margin-bottom: size(footer);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// ===============================================
// Screen-specific styles
// ===============================================

.splash {
  text-rendering: optimizeLegibility;
  background: $color_blue; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $color_blue_light 0%, $color_blue 100%);
  background: -webkit-linear-gradient(-45deg, $color_blue_light 0%,$color_blue 100%);
  background: linear-gradient(135deg, $color_blue_light 0%,$color_blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_blue_light', endColorstr='$color_blue',GradientType=1 );
}

.splash--logo {
  position: absolute;
  top: size(small);
  left: size(small);
  right: size(small);
  img {
    width: 100%;
  }
}

.splash--menu {
  width: 50%;
  left: 50%;
  margin-left: -25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 38%;
  height: 20%;
  font-size: fontsize(flavor);
  text-align: center;
}

.splash--button {
  margin: size(inputspacing)/2 0 !important;
  button {
    font-size: 150% !important;
  }
}

.splash--button--primary {
  button {
    font-size: 200% !important;
  }
}

.splash--ad {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.build {
  display: flex;
  flex-flow: column;
  height: 100%;

  background: $color_grey; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $color_grey_light 0%, $color_grey 100%);
  background: -webkit-linear-gradient(-45deg, $color_grey_light 0%,$color_grey 100%);
  background: linear-gradient(135deg, $color_grey_light 0%,$color_grey 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_grey_light', endColorstr='$color_grey',GradientType=1 );

  header {
    padding: size(base);
  }
  h1 {
    clear: both;
    font-size: 160%;
    text-align: center;
    padding: 0.25em;
  }

  section {
    padding: size(base);
  }
}

.build--topSection {
  flex: 0 1 auto;
}

.build--bottomSection {
  flex: 1 1 auto;
}

.buildList--item, .generatorList--item {
  margin: 0 -1*size(small) size(base) -1*size(small);
  padding: size(small);
  background: rgba(255,255,255,0.4);
  border-radius: 2px;

  &.disabled {
    background: rgba(255,255,255,0.2);
  }
}

.buildList--buildButton, .generatorList--pauseButton {
  float: right;
  width: 36px;
  > button {
    min-width: 36px !important;
  }
}

.buildList--details {
  line-height: 1.2;
}


// ===============================================
// Tablet + Larger Styles
// ===============================================

@media screen and (min-height: 768px), screen and (min-width: 768px) {
  .splash--button {
    button {
      font-size: 100% !important;
    }
  }

  .splash--button--primary {
    button {
      font-size: 100% !important;
    }
  }
}

// ===============================================
// XL Screen Styles
// ===============================================
