@import '../../../shared/styles/constants.scss';

// ===============================================
// Font setup
// ===============================================

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: url(../../../shared/fonts/Cinzel-Bold.woff2) format('woff2'), url(../../../shared/fonts/Cinzel-Bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'MinionPro';
  font-style: normal;
  src: url(../../../shared/fonts/MinionPro-Regular.woff) format('woff');
}

// ===============================================
// Transitional animation classes
// ===============================================

.next-enter {
  transform: translate(100%);
}
.next-enter.next-enter-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}
.next-exit {
  position: absolute;
  transform: translate(0%);
}
.next-exit.next-exit-active {
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}

.prev-enter {
  transform: translate(-100%);
}
.prev-enter.prev-enter-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}
.prev-exit {
  position: absolute;
  transform: translate(0%);
}
.prev-exit.prev-exit-active {
  transform: translate(100%);
  transition: transform 300ms ease-in-out;
}

.nav-enter {
  opacity: 1;
}
.nav-enter.nav-enter-active {
  opacity: 1;
}
.nav-exit {
  opacity: 1;
}
.nav-exit.nav-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-out;
}


// ===============================================
// Constants
// ===============================================

$abswidthmax: 769px;
$absheightmax: 1025px;
$absmaxdimension: 1025px;
$lineheight: 1.2;

$largeFontMult: 1.25;
$smallFontMult: 0.8;

$sizemap: (
  appbar: 48px,
  remotefooter: 50px,
  inputsquare: 48px,
  inputspacing: 16px, /* slightly larger on small devices (to prevent false touches) */
  input: 32px, /* size of input icon-style buttons */
  watermark: 36vh, /* height-specific */
  navfooterbtn: 19vw,
  huge: 12vmin,
  large: 6vmin,
  icon: 4.5vmin,
  base: 2vmin,
  small: 1vmin,
  tiny: 0.5vmin,
  spinner: 40vmin,
);

$fontsizemap: (
  timervalue: 24vmin,
  title: 6vmin,
  interactive: 5.5vmin,
  flavor: 4.7vmin,
  label: 18px, // purposefully fixed-size
);

@function fontsize($key) {
  @if map-has-key($fontsizemap, $key) {
    @return map-get($fontsizemap, $key);
  }

  @warn "Unknown `#{$key}` in $fontsizemap.";
  @return null;
}

@function size($key) {
  @if map-has-key($sizemap, $key) {
    @return map-get($sizemap, $key);
  }

  @warn "Unknown `#{$key}` in $sizemap.";
  @return null;
}

$border_desktop: size(base) solid #777;

// ===============================================
// Base/General Styles
// ===============================================

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $bg_primary;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $fontFamilyBase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app_container {
  &, & > div:first-child {
    height: 100%;
    width: 100%;
  }
}

#noscript {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.snackbar {
  span {
    color: $font_color_dark_primary !important;
  }
}

.nav_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: $bg_primary;
  border-top: $border_accent;

  button .navlabel {
    font-family: Cinzel, serif;
  }

  button {
    min-width: size(large) !important;
    max-width: size(navfooterbtn) !important;
  }
}

h1, h2, h3 {
  font-family: $headerFont;
  margin: 0.5em 0 0.2em 0;
  line-height: $lineheight;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  .inline_icon {
    height: 6.5vmin;
    margin-bottom: -1.0vmin;
  }
}
h3 {
  font-size: 1.25em;
}

p {
  margin: 0 0 1em 0;
}
p:first-child {
  margin-top: 1em;
}

a {
  color: $font_color_primary;
  &.linkButton {
    text-decoration: none;
  }
}

span.line {
  display: inline-block;
}

.freeSpace {
  text-align: center;
  font-style: italic;
  margin-top: size(base);
}

// Fixes bug with Android apk where keyboard not scrolling view - https://github.com/ExpeditionRPG/expedition/issues/255
body.android .dialog .textfield:focus-within {
  padding-bottom: 300px;
}

@mixin styling() {

  button {
    &.large {
      width: 100% !important;
      height: auto !important;
      div {
        font-size: fontsize(interactive) !important;
        line-height: $lineheight !important;
        margin: 0.5em !important;
      }
    }
    &.primary {
      font-family: $headerFont !important;
      border: $border_accent !important;
      background: $bg_interactive !important;
    }
  }

  .app_container {
    &.largeFont {
      .article {
        font-size: $largeFontMult * fontsize(flavor);
        .base_button > button {
          font-size: $largeFontMult * fontsize(flavor) !important;
        }
        .inline_icon {
          height: $largeFontMult * fontsize(flavor);
        }
      }
    }
    &.smallFont {
      .article {
        font-size: $smallFontMult * fontsize(flavor);
        .base_button > button {
          font-size: $smallFontMult * fontsize(flavor) !important;
        }
        .inline_icon {
          height: $smallFontMult * fontsize(flavor);
        }
        h2 .inline_icon {
          height: 1.1em;
        }
      }
    }
  }

  .base_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $bg_primary;
    color: $font_color_primary;
    .title_container, .base_button > button, .base_checkbox button, .base_picker {
      svg {
        color: $font_color_primary !important;
      }
    }
    .base_button.mediumbutton button span {
      font-size: 130% !important;
      text-align: center !important;
      font-family: Cinzel, serif;
    }
    .base_button.bigbutton button span {
      font-size: 200% !important;
      text-align: center !important;
    }
    .child_wrapper {
      margin: size(large);
      margin-top: size(small);
      margin-bottom: 9vw;
      position: relative;
    }
    .article {
      position: relative;
      flex: 1;
      padding: size(base) 0;
      font-size: fontsize(flavor);
      background-repeat: repeat;
      background-position: center;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      // iPhone X padding fix
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);

      .scrollbox {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $absmaxdimension;
        margin: auto;
        min-height: 50vh;
      }
      #bgimg {
        position: absolute;
        height: size(watermark);
        width: size(watermark);
        right: 0;
        top: size(huge);
        margin-right: -0.35 * size(watermark);
        margin-top: 4vh;
        opacity: 0.2;
      }
    }

    .title_container {
      position: relative;
      background-color: $bg_titlebar;
      padding: 0;
      line-height: size(appbar);
      height: size(appbar);
      width: 100%;

      // iPhone X padding fix
      padding-top: constant(safe-area-inset-top);
      padding-top: env(safe-area-inset-top);

      > button {
        float: left;
        padding: 0 !important;
        svg {
          height: size(input) !important;
          width: size(input) !important;
        }
      }
      .menu {
        float: right;
        padding: 0;
        font-size: fontsize(interactive);
      }
      .title {
        font-family: $headerFont;
        letter-spacing: $headerFontLetterSpacing;

        font-size: fontsize(title);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 48px;
      }
    }
    .header {
      width: 100%;
      background-color: $bg_titlebar;
      line-height: $lineheight;
      padding: size(base)/2 size(base) size(base)/2 size(base);
      font-size: fontsize(flavor);
      box-sizing: border-box;
    }
    .center {
      text-align: center;
    }
  }

  ol, ul {
    padding-left: size(icon);

    li {
      padding-bottom: size(small);

      ol li, ul li {
        padding-bottom: 0;
      }
    }
  }

  .inputSpacer { /* for text inputs that are close to bottom, give the screen space to scroll up */
    margin-bottom: 100%;
  }

  .base_main {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;

    &.has_footer {
      padding-bottom: size(remotefooter);
    }
  }

  // ===============================================
  // Card-specific styles
  // ===============================================
  .splashScreen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #4F301B;
    background-image: url(images/leather.jpg);
    background-size: cover;
    color: $font_color_dark_primary;

    .logo {
      position: absolute;
      top: size(small);
      // iPhone X padding fix
      top: calc(size(small) + constant(safe-area-inset-top));
      top: calc(size(small) + env(safe-area-inset-top));
      left: size(small);
      right: size(small);
      img {
        width: 100%;
        max-width: $absmaxdimension;
        margin: auto;
        display: block;
      }
    }

    &.announcing .logo {
      // (2 text lines) + (small top & bottom padding and top margin for logo)
      top: 2 * $lineheight * fontsize(interactive) + 3 * size(base);
      // iPhone X padding fix
      top: calc(#{2 * $lineheight * fontsize(interactive) + 3 * size(base)} + constant(safe-area-inset-top));
      top: calc(#{2 * $lineheight * fontsize(interactive) + 3 * size(base)} + env(safe-area-inset-top));
    }
    .announcement {
      position: absolute;
      top: 0;
      // iPhone X padding fix
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top);
      left: 0;
      right: 0;
      z-index: 9999;
      button {
        margin: 0 !important;
        padding: size(base) !important;
        border: none !important;
        border-radius: 0 !important;
        background: blue !important;
        text-align: center !important;
        font-size: fontsize(interactive) !important;
        line-height: $lineheight !important;
        text-shadow: white;
      }
      .inline_icon {
        padding-left: 0.2em;
        height: 0.8em;
        margin-bottom: 0;
      }
    }
    .splashTips {
      font-size: fontsize(flavor);
      text-align: center;
      position: absolute;
      bottom: size(small);
      // iPhone X padding fix
      bottom: calc(#{size(small)} + constant(safe-area-inset-top));
      bottom: calc(#{size(small)} + env(safe-area-inset-top));
      left: size(base);
      right: size(base);
    }
  }

  .audioControls {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    #audioLoadingIndicator {
      -webkit-animation: rotate 4s;
         -moz-animation: rotate 4s;
          -ms-animation: rotate 4s;
           -o-animation: rotate 4s;
              animation: rotate 4s;
    }
  }

  .version {
    text-align: center;
    opacity: 0.7;
    margin-top: size(huge);
  }
  .privacy {
    text-align: center;
    opacity: 0.7;
    margin-top: size(base);
  }

  .menu_popup {
    background-color: $bg_primary;
    color: $font_color_primary;
  }

  .centralMessage {
    text-align: center;
    margin-top: size(appbar);
    margin-bottom: size(appbar);
  }

  .lds-ellipsis {
    display: block;
    margin: size(large) auto 0 auto;
    position: relative;
    width: 64px;
    height: 64px;

    div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $bg_dark_titlebar;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@include styling();

// ===============================================
// Apply scaling or fixed styling if we're on
// a desktop. Center and border the fixed result.
// ===============================================

// On large screens, shrink a bit...
$abs_scale_vw: $abswidthmax / 120vmin;
$abs_scale_vh: $absheightmax / 120vmin;

$sizemap: (
  appbar: 48px,
  remotefooter: 50px,
  inputspacing: 14px,
  inputsquare: 48px,
  input: 32px,
  watermark: 36vmin * $abs_scale_vh, /* note: height-specific */
  huge: 12vmin * $abs_scale_vh,
  large: 6vmin * $abs_scale_vh,
  icon: 4vmin * $abs_scale_vh,
  base: 2vmin * $abs_scale_vh,
  small: 1vmin * $abs_scale_vh,
  tiny: 0.5vmin * $abs_scale_vh,
  spinner: 40vmin * $abs_scale_vh,
);

$fontsizemap: (
  title: 6vmin * $abs_scale_vw,
  timervalue: 24vmin * $abs_scale_vw,
  interactive: 5vmin * $abs_scale_vw,
  flavor: 4.5vmin * $abs_scale_vw,
  label: 18px,
);

@media screen and (min-width: $abswidthmax), screen and (min-height: $absheightmax) {
  // Use the new desktop values defined above, only at this size
  @include styling();

  body, html, #react-app {
    height: 100%;
    width: 100%;
  }

  .app_container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  0% { opacity: 1; height: 100%; }
  99% { opacity: 0; height: 100%; }
  100% { opacity: 0; height: 0; }
}
@-webkit-keyframes fadeout {
  0% { opacity: 1; height: 100%; }
  99% { opacity: 0; height: 100%; }
  100% { opacity: 0; height: 0; }
}
@-ms-keyframes fadeout {
  0% { opacity: 1; height: 100%; }
  99% { opacity: 0; height: 100%; }
  100% { opacity: 0; height: 0; }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}
@-ms-keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}

@keyframes lds-ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes lds-ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(19px, 0); }
}
@keyframes lds-ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
